@tailwind base;
@tailwind components;
@tailwind utilities;

/** Styles for headings **/

.card-heading-2{
    @apply text-lg font-medium text-gray-800 dark:text-white;
}

.card-heading-3{
    @apply text-base font-medium text-gray-800 dark:text-white;
}


td{
    @apply text-gray-800 dark:text-white px-4 py-4 text-sm font-medium whitespace-nowrap;
}

/** Styles for Datatable  */
div.dataTables_filter{
    @apply flex justify-end items-center px-4 py-2;
}

div.dataTables_filter > label > input {
    @apply  text-black my-2 border-gray-300 focus:border-blue-500 focus:ring-blue-500 rounded-md shadow-sm;
}

div.dataTables_paginate{
    @apply flex justify-between items-center px-4 py-2;
}

div.dataTables_paginate > a.paginate_button{
    @apply flex cursor-pointer items-center px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800;
}

div.dataTables_paginate > span{
    @apply items-center hidden md:flex gap-x-3;
}

div.dataTables_paginate > span > a.paginate_button.current{
    @apply px-2 py-1 text-sm text-blue-500 rounded-md dark:bg-gray-800 bg-blue-100/60;
}

div.dataTables_paginate > span > a.paginate_button{
    @apply px-2 py-1 text-sm text-gray-500 rounded-md dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100;
}

div.dataTables_length{
    @apply hidden;
}

.dataTables_empty{
    @apply text-center;
}


/** Styles for status badges */
.badge-status{
    @apply inline px-3 py-1 text-sm font-normal rounded-full gap-x-2;
}

.badge-status-borrador{
    @apply text-gray-500 bg-gray-100/60 dark:bg-gray-800;
}

.badge-status-pendiente{
    @apply text-yellow-500 bg-yellow-100/60 dark:bg-gray-800;
}

.badge-status-en-progreso{
    @apply text-blue-500 bg-blue-100/60 dark:bg-gray-800;
}

.badge-status-completado{
    @apply text-emerald-500 bg-emerald-100/60 dark:bg-gray-800;
}

.badge-status-cancelado{
    @apply text-red-500 bg-red-100/60 dark:bg-gray-800;
}

.form-field{
    @apply block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring
}

.form-label{
    @apply text-gray-700 dark:text-gray-200;
}

.form-checkbox{
    @apply h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-600;
}

.dialog-dropdown-item{
    @apply flex items-center cursor-pointer px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900;
}

.dialog-dropdown-container{
    @apply absolute right-0 z-10 w-48 mt-2 origin-top-right rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5;
}

.dropdown-dots-button{
    @apply px-1 py-1 text-gray-500 transition-colors duration-200 rounded-lg dark:text-gray-300 hover:bg-gray-100;
}

.select2{
    width: 100% !important;
    margin: 0.5rem 0rem;
    margin-bottom: 1rem;
}

.week-day-active{
    @apply text-white bg-blue-600;
}

.week-day-default{
    @apply text-gray-800 bg-gray-200 cursor-pointer;
}

.date-range-picker{
    @apply absolute right-0 z-20 w-4/5 sm:w-48 p-4 mt-2 origin-top-right bg-white rounded-md shadow-xl dark:bg-gray-800;
}

.date-range-selector-button{
    @apply relative font-semibold z-10 font-medium p-2 text-gray-700 bg-white border border-transparent rounded-md dark:text-white focus:border-blue-500 focus:ring-opacity-40 dark:focus:ring-opacity-40 focus:ring-blue-300 dark:focus:ring-blue-400 focus:ring dark:bg-gray-800 focus:outline-none flex space-x-2 ml-auto;
}

.main-container{
    @apply max-w-7xl mx-auto sm:px-6 lg:px-8 mb-6;
}

.main-container-content{
    @apply p-6 relative bg-white dark:text-white dark:bg-gray-800 shadow-sm sm:rounded-lg;
}

.records-table{
    @apply min-w-full divide-y divide-gray-200 dark:divide-gray-700;
}

table.records-table thead{
    @apply bg-gray-50 dark:bg-gray-800;
}

table.records-table tbody{
    @apply bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900;
}

.modal-title{
    @apply text-lg font-medium leading-6 text-gray-800 dark:text-white;
}

.dropdown-item{
    @apply block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900;
}

.profile-picture-sm{
    @apply object-cover w-6 h-6 -mx-1 border-2 border-white rounded-full dark:border-gray-700 shrink-0;
}

.profile-picture-stack-container{
    @apply flex items-center space-x-3;
}

.week-day-selector{
    @apply mr-2 flex items-center justify-center flex flex-col px-4 py-3 rounded-lg;
}

.records-table th{
    @apply text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400;
}